//Variables
@import "../Color/variables/_color.scss";
@import "../Color/variables/mixin";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Dosis";
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $yellow;

  .top-sector {
    @include flexCenter;

    width: 100%;
    height: 10%;
    .app-title {
    }
  }
  .middle-sector {
    @include flexCenter;

    width: 100%;
    height: 70%;

    .color-circle {
      width: 35rem;
      height: 35rem;
      border-radius: 50%;
      background-color: $light-green;
    }
  }
  .bottom-sector {
    @include flexCenter;

    width: 100%;
    height: 20%;
    .color-btn {
    }
  }
}
